* {
    margin: 0;
    padding: 0;

}

.wrapper {
    width: 100%;
    min-width: 730px;
    min-height: 100vh;
    display: flex;
    background: #81c1f3;
    text-align: center;
}

.main {
}

.bottom {
    background: #2e2c33;
    min-height: 100vh;
    width: 25%;
    display: grid;
    align-content: center;
    justify-content: center;
}

.header {
    padding: 10px;
    background: #285a8f;
    min-height: 25vh;
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.refer {
    text-decoration: none;
    color: #7a24b2;
    font-size: 18px;
}

.refer2 {
    text-decoration: none;
    color: #7a24b2;
    font-size: 20px;
}

.about {
    display: grid;
    align-content: center;
    justify-content: center;
    font-weight: bolder;
    font-size: x-large;
    padding-right: 40px;
    /*text-shadow: 5px 6px 2px rgba(0,0,0,0.3);*/
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0 -5px 35px rgba(255,255,255,0.3);
}

.foto {
    display: grid;
    align-content: center;
    justify-content: center;
    padding-right: 40px;
}

.img {
    width: 157px;
    height: 180px;
    border: black 1px solid;
    border-radius: 100%;
}

.menu {
    background: rgba(0, 255, 255, 0.97);
    display: grid;
    min-height: 75vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
}

.category {
    margin: 1px;
    padding: 10px;
    display: grid;
    background: cornflowerblue;
    min-height: 211px;
    min-width: 433px;
    border-radius: 1%;
}

.category2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.name {
    display: grid;
    justify-items: start;
    font-size: 17px;
    font-weight: bolder;
    padding-left: 10px;
    line-height: 1.4

}

.value {
    display: grid;
    justify-items: start;
    padding-right: 25px;
    grid-template-rows: 5fr;
    font-size: 17px;
    line-height: 1.4
}

.back {
    position: fixed;
    top: 5px;
    left: 5px;
    text-decoration: none;
    color: rgb(119, 115, 136);
    font-size: large;
    border: rgb(119, 115, 136) 1px solid;
    border-radius: 22px;
    margin: 3px;
    padding: 1px;
}
.back:hover {
    /*border: #3f3030 1px solid;*/
    border: #285a8f 1px solid;
    color: #285a8f;
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header>.about {
        padding-right: 0;
    }
    .header>.foto {
        padding-right: 0;
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
