.movies_page {
    min-width: 620px;
    width: 100%;
    padding-top: 20px;
    min-height: 80vh;
    background-color: #aeb6e3;
}

.white {
    background-color: #ccced7;
}

.dark {
    background-color: #373752;
    color: #81c1f3;
}

@media (max-width: 768px) {
    .movies_page {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}
