.wrapper {
    width: 80%;
    /*width: 100%;*/
    min-width: 420px;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    margin: auto;
}

iframe {
    max-width: max-content;
    min-width: 480px;
    min-height: 270px;
    max-height: max-content;
    border: 1px solid black;
    margin: 20px;
}


.wrapperVote {
    display: flex;
    justify-content: center;
    padding: 10px 10px 0;
    flex-wrap: wrap;
}
.wrapperImg {
    margin-top: 20px;
    min-width: 70px;
    margin-left: 7%;
}

.vote {
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
    width: 100px;
    min-width: 76px;
    height: 100px;
    border-radius: 100%;
}
.voteTitle {
    font-size: 11px;
    margin: 19px 0 4px;
}
.voteCount {
    margin: 0;
}

.white {
    border: 3px solid #393939;
}
.dark {
    border: 3px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
}


.wrapperInfo {
    flex: 1;
    /*padding: 10px 30px 30px;*/

    margin: 5%;
    line-height: 1.6;
}
.filmTitle{
    font-weight: bolder;
    text-align: center;
}
