.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /*background-color: #fcd1d1;*/
    /*background-color: rgba(156, 180, 238, 0.91);*/

    /*background-color: rgb(100, 165, 238);*/
background-color: #a8c6ff;

}

.block {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*min-height: 50%;*/
    /*min-width: 70%;*/
    align-items: center;
    /*padding: 50px 0;*/

    /*padding: 50px 50px;*/

}

.block > h2 {
    margin-bottom: 30px;
    max-width: 90%;
}
.block > button {
    border-radius: 15px;
}
